.contenedorCard {

    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;

}

.contenedorInfo {
    text-align: center;
    padding: 1rem;
    background: rgb(236, 255, 0);
    background: -moz-radial-gradient(circle, rgba(236, 255, 0, 1) 0%, rgba(59, 255, 14, 1) 57%, rgba(17, 189, 7, 1) 92%);
    background: -webkit-radial-gradient(circle, rgba(236, 255, 0, 1) 0%, rgba(59, 255, 14, 1) 57%, rgba(17, 189, 7, 1) 92%);
    background: radial-gradient(circle, rgba(236, 255, 0, 1) 0%, rgba(59, 255, 14, 1) 57%, rgba(17, 189, 7, 1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecff00", endColorstr="#11bd07", GradientType=1);
}

.imagen {
    position: relative;
    width: auto;
    height: auto;
}

.titulo2 {
    font-size: xx-large;
    color: #ffffff;
    text-shadow: 0.3em 0.3em 0.3em #000000;
}

.titulo3 {
    font-size: x-large;
    color: #ffffff;
    text-shadow: 0 0.1em 0.3em #000000;
}