.containerTotal {
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 90px;
    width: auto;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    font-family: consolas;
}
