.imagen {
    width: 2.5rem;
    position: relative;
    object-fit: fill;
}

.botonSearch {
    height: 2.5rem;
    width: 5rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.inputSearch {
    border: 2px blue solid;
    height: 2.5rem;
    width: 300px;
    font-size: large;
}